.customInput {
    background-color: lightgray;
    color: black;
    margin: 5px 0;
}

.customHeader {
    border-radius: 0;
}

.secondaryBg {
    border: solid 1px rgba(211, 211, 211, 0.358);
    padding: 10px;
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    /* border-radius: 10px; */
}

.leftBar {
    background: rgba(0, 212, 255, 1);
}

.rightBar {
    background: rgba(0, 212, 255, 1);
}

th,
td {
    text-align: start;
    text-justify: center;
    margin: 0px 5px;
    padding: 5px 5px;
    border-collapse: collapse;
    border-radius: 10px;


}

h2 {
    border: solid #999 2px;
    background-color: #999;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

body {
    width: 100%;
    height: 100vh;
    background-color: #1a1c1e;
}

.gradBg {
    background: linear-gradient(90deg, rgba(239, 239, 246, 1) 0%, rgba(41, 221, 197, 1) 41%, rgba(0, 212, 255, 1) 100%);
}