@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

.customInput {
    background-color: rgb(199, 244, 255);
    color: black;
    margin: 5px 0;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.customHeader {
    border-radius: 0;
}

.secondaryBg {
    padding: 10px;
    margin-bottom: 5px;
}

.textContacts {
    color: white;
    font-size: 20px;

}

.pagesBg {
    background-color: #2F2F2F;
    font-family: 'Source Serif Pro', Georgia, Cambria, "Times New Roman", Times, serif;
}

th,
td {
    text-align: start;
    text-justify: center;
    margin: 0px 10px;
    padding: 5px 10px;
    border-collapse: collapse;
    border-radius: 10px;
}



.gradBg {
    background-color: white;
}

.competencesBlock {
    border: #284463 solid 3px;
    background: #252525;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    margin-right: 10px;
}

.competencesBlock h2 {
    color: orange;
    display: flex;
    align-items: center;
    gap: 10px;
}

.careerBlock {
    border-left: #284463 solid 3px;
    margin-left: 10px;
    padding-left: 5px;
}

.careerBlock {
    padding: 10px;
    border-radius: 10px;
    background: #252525;
    color: white;
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}

.careerBlock h2 {
    color: orange;
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
}

.careerElement {
    padding: 10px;
    border-radius: 10px;
    background: #252525;
    color: white;
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    border-left: #284463 solid 3px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 5px;

}

.contactBlock {
    font-family: "Playwrite FR Moderne", cursive;
    padding: 10px;
    border-radius: 10px;
    /* width: 100%; */
    /* background: #284463; */
    background-image: linear-gradient(rgba(154, 64, 152, 0.295), rgba(171, 52, 161, 0.305)), url('/public/images/img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    color: white;



}

.loadingBg {
    background: linear-gradient(90deg, rgba(239, 239, 246, 1) 0%, rgba(41, 221, 197, 1) 45%, rgba(0, 212, 255, 1) 100%);
    color: linear-gradient(90deg, rgba(239, 239, 246, 1) 0%, rgba(41, 221, 197, 1) 45%, rgba(0, 212, 255, 1) 100%);
}

.buttons {
    border: solid white 2px;
    color: white;
}